

include _includes/sharedHTMLfunctions
block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
        h2=title1
        a(href='/Poetry') Poetry
        a(href='/Literature' ) Literature
        a(href='/StoryBooks' ) Story Books
        a(href='/Educational' ) Educational
        a(href='/Biography' ) Biography

      