

include _includes/sharedHTMLfunctions
block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
        h2=title1
        a(href='/GenreBooks/Poetry') Poetry
        a(href='/GenreBooks/Literature' ) Literature
        a(href='/GenreBooks/Story' ) Story Books
        a(href='/GenreBooks/Sci-Fi' ) Sci-Fi
        a(href='/GenreBooks/Biography' ) Biography
        a(href='/GenreBooks/Others' ) Others

      